---
layout: base
---

    <ul class="breadcrumb">
      <li><a href="{{ site.url }}/index.html">Home</a> <span class="divider">/</span></li>
      <li class="active">Publications</span></li>
    </ul>
      <div class="row-fluid">
        <h2>Publications</h2>
        <ul class="fa-ul extraspace">
          {% assign publications = site.categories.publications | where: "hidden", false %}
          {% for post in publications %}
          <li><i class="fa-li fa fa-caret-right"></i><b><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></b>
          {% if post.paper or post.preprint %}<i class="fa fa-file-pdf-o"></i>{% endif %}
          {% if post.slides %}<i class="fa fa-bar-chart-o"></i>{% endif %}
          <br/>
          <i>{{ post.pubinfoshort }}</i>
            {% for authorid in post.authors %}
            {% if site.authors[authorid] %}
            <a href="{{ site.authors[authorid]['site'] }}">{{ site.authors[authorid]['surname'] }}</a>{% else %}{{ authorid | split: " " | last }}{% endif %}{% unless forloop.last %}, {% endunless %}
            {% endfor %}
            <br/>
            {% if post.award %}
            <span class="label label-warning"><i class="fa fa-trophy"></i>&nbsp;&nbsp;Awarded</span>
            {% endif %}
            {% if post.featured %}
            <span class="label label-warning"><i class="fa fa-star"></i>&nbsp;&nbsp;Featured by the press</span>
            {% endif %}
          </li>{% endfor %}
        </ul>
       </div>
