<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% if page.title %}{{ page.title }} - {% endif %}Antonio Lima</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">


    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ site.url }}/css/style.css">
    <style>
      html {
        overflow: -moz-scrollbars-vertical;
        overflow: scroll;
      }

      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <link href="{{ site.url }}/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="../ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">

  <script type="text/javascript">
    lloogg_clientid = "20bb9c026e";
  </script>
  <script type="text/javascript" src="http://lloogg.themiurgo.net/l.js?c=20bb9c026e">
  </script>
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(["_setAccount", "UA-27473311-1"]);
    _gaq.push(["_trackPageview"]);

    (function() {
      var ga = document.createElement("script"); ga.type = "text/javascript"; ga.async = true;
      ga.src = ("https:" == document.location.protocol ? "https://ssl" : "http://www") + ".google-analytics.com/ga.js";
      var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
  <meta name="google-site-verification" content="A0UKEY_HugE-tnna3-jNAXo98lqoqYdCffFz7Prkmgw" />
    <!-- Piwik -->
    <script type="text/javascript">
      var _paq = _paq || [];
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="//lloogg.themiurgo.net/pwk/";
        _paq.push(['setTrackerUrl', u+'piwik.php']);
        _paq.push(['setSiteId', 1]);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
    <noscript><p><img src="//lloogg.themiurgo.net/pwk/piwik.php?idsite=1&rec=1" style="border:0;" alt="" /></p></noscript>
    <!-- End Piwik Code -->
  </head>

  <body>

    <div class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="{{ site.url }}/index.html" style="font-family: 'Lobster', cursive; color: #fff; font-size:2em;">A. Lima</a>
          <a href="http://www.bham.ac.uk" class="pull-right">
            <img src="{{ site.url}}/img/uni_logo.svg"
          style="margin-top:6px; height: 30px;"/>
          </a>
          <div class="nav-collapse">
            <ul class="nav">
              <!--<li class="active"><a href="{{ site.url }}/index.html"><i class="icon-home"></i> Home</a></li>-->
              <li><a href="{{ site.url }}/publications.html"><i class="fa fa-flask"></i>&nbsp;&nbsp;Publications</a></li>
              <li><a href="{{ site.url }}/datasets.html"><i class="fa fa-database"></i>&nbsp;&nbsp;Datasets</a></li>
              <li><a href="{{ site.url }}/teaching.html"><i class="fa fa-university"></i>&nbsp;&nbsp;Teaching</a></li>
              <li><a href="{{ site.url }}/misc.html"><i class="fa fa-archive"></i>&nbsp;&nbsp;Misc</a></li>
              <li><a href="{{ site.url }}/contacts.html"><i class="fa fa-envelope"></i>&nbsp;&nbsp;Contacts</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">
{{ content }}
    </div>

    <hr />
    <footer>

    <p class="text-center">&copy; Antonio Lima 2013 - Handcrafted with <a href="https://en.wikipedia.org/wiki/Love">Love</a>, <a href="http://www.vim.org/">ViM</a>, <a href="http://twitter.github.com/bootstrap/">Bootstrap</a>, <a href="http://jekyllrb.com/">Jekyll</a>, <a href="http://fortawesome.github.com/Font-Awesome/">Font Awesome</a>.</p>
    </footer>

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ site.url }}/js/jquery.js"></script>
    <script src="{{ site.url }}/js/jquery.zclip.min.js"></script>
    <script src="{{ site.url }}/js/bootstrap-transition.js"></script>
    <script src="{{ site.url }}/js/bootstrap-alert.js"></script>
    <script src="{{ site.url }}/js/bootstrap-modal.js"></script>
    <script src="{{ site.url }}/js/bootstrap-dropdown.js"></script>
    <script src="{{ site.url }}/js/bootstrap-scrollspy.js"></script>
    <script src="{{ site.url }}/js/bootstrap-tab.js"></script>
    <script src="{{ site.url }}/js/bootstrap-tooltip.js"></script>
    <script src="{{ site.url }}/js/bootstrap-popover.js"></script>
    <script src="{{ site.url }}/js/bootstrap-button.js"></script>
    <script src="{{ site.url }}/js/bootstrap-collapse.js"></script>
    <script src="{{ site.url }}/js/bootstrap-carousel.js"></script>
    <script src="{{ site.url }}/js/bootstrap-typeahead.js"></script>
  </body>
</html>
